
<style type="text/css">

    #top {
        width: 100%;
        height: 200px;
    }

    #top img {
        width: 235px;
        position: relative;
        top: 20px;
        left: 67px;
        height: 105px;
    }

    #top #t2 {
        position: relative;
        margin-top: -59px;
        margin-left: 280px;
        color: #808080;
        font-size: 12px;
        line-height: 21px;
    }

    #top #t3 {
        position: relative;
        margin-top: 30px;
        margin-left: 100px;
        color: #000;
        font-size: 20px;
    }

    #top #t3 #s11 {
        color: #808080;
        letter-spacing: 0.15em;
        font-family: "幼圆";
    }

    #top #t3 #s12 {
        font-size: 28px;
        letter-spacing: 0.15em;
        font-family: "幼圆";
    }

    /*****************  mid  ******************/
    #con {
        height: 350px;
        width: 100%;
    }

    #mid {
        width: 100%;
        height: 350px;
        background-color: #Fff;
    }

    #mid #pic1 {
        float: left;
        margin-left: 100px;
        height: 450px;
        width: 880px;
    }

    #mid #login {
        /*position:absolute;
	top:200px;*/
        margin-top: 280px;
        margin-left: 700px;
        min-width: 320px;
        height: 350px;
    }

    #mid #login #tbCode {
        border: 1px solid #ccc;
        position: relative;
        text-align: left;
        top: 60px;
        left: 55px;
        height: 33px;
        width: 230px;
        font-family: "微软雅黑";
        font-size: 14px;
        color: #000;
        background: #fff url(/assets/images/login_textbox_code.gif) left center no-repeat;
        padding-left: 32px;
    }

    #mid #login #tbPassword {
        border: 1px solid #ccc;
        position: relative;
        text-align: left;
        top: 100px;
        left: 55px;
        height: 33px;
        width: 230px;
        font-family: "微软雅黑";
        font-size: 14px;
        color: #000;
        background: #fff url(/assets/images/login_textbox_password.gif) left center no-repeat;
        padding-left: 32px;
    }

    #mid #login #btnSubmit {
        position: relative;
        text-align: center;
        top: 145px;
        left: 55px;
        height: 50px;
        width: 265px;
        font-family: "微软雅黑";
        font-size: 18px;
        background-color: #fff;
        color: #808080;
        -moz-border-radius: 12px; /* Gecko browsers*/
        -webkit-border-radius: 12px; /*Webkit browsers*/
        border-radius: 10px; /*W3C syntax*/
    }

    #formTip {
        position: relative;
        top: 155px;
        left: 60px;
    }
    /*****************  mid  ******************/
    #bot {
        width: 100%;
        margin-top: 0;
        min-height: 70px;
    }

    #bot #tn {
        padding-top: 35px;
        font-family: "微软雅黑";
        color: #808080;
        float: left;
        padding-left: 100px;
    }

    #bot #s41 {
        font-size: 12px;
        padding-right: 20px;
    }

    #bot #s42 {
        font-size: 10px;
        padding-right: 20px;
        font-style: italic;
    }

    #bot #s43 {
        font-size: 10px;
        font-style: italic;
    }

</style>
<div id="con">
    <div id="mid">
        <div id="login">
            <form>
                <div >服务已启动</div>
            </form>
        </div>
    </div>
</div>
