@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="/Assets/themes/rtdefault/easyui.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/themes/icon.css">
    <script type="text/javascript" src="~/Assets/scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/Assets/scripts/jquery.easyui.min.js"></script>
</head>
<body>
    <ul class="easyui-tree" data-options="url:'/Home/DoTest',method:'get',animate:true"></ul>
</body>
</html>

