<?xml version="1.0" encoding="utf-8"?>
<DataConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <CompanyName>WIN-WMS</CompanyName>
  <SystemName>朗杰自动化智能仓库管理系统</SystemName>
  <SystemEnglishName>General Development Framework</SystemEnglishName>
  <Website>http://www.hellopets.com</Website>
  <Theme>skin-deepblue</Theme>
  <CacheExpirationSeconds>3600</CacheExpirationSeconds>
  <EnableDataLog>true</EnableDataLog>
  <DataLogState>1,1,1,1</DataLogState>
  <IdentityProviderType>Cookie</IdentityProviderType>
  <IdentityExpires>3600</IdentityExpires>
  <OfflineExpires>60</OfflineExpires>
  <IndexAddress>/Home/index</IndexAddress>
  <LoginAddress>/Home/index</LoginAddress>
  <UserCenterAddress>/UserCenter/Home/Index</UserCenterAddress>
</DataConfig>