<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
        <supportedRuntime version="v2.0.50727" />
    </startup>
  <appSettings>
    <add key="ServerIP" value="http://127.0.0.1:40005/" />
    <add key="DeviceIP" value="http://localhost:30060/" />
    <!--登录人员注销时间-->
    <add key="LoginOutTime" value="500" />
    <!--无人操作，退出时间，分钟-->
    <add key="NoOp" value="10" />
    <add key="WeightCOM" value="COM6" />
    <!--无人操作，退出时间，分钟-->
    <add key="BarCodeLenght" value="16" />
    <!--人脸识别设备IP-->
    <add key="FaceIP" value="192.168.1.61" />
    <!--人脸识别设备端口-->
    <add key="FacePort" value="8000" />
    <!--人脸识别设备用户名-->
    <add key="FaceUser" value="admin" />
    <!--人脸识别设备密码-->
    <add key="FacePassword" value="admin123" />
    <!--客户端数据库-->
    <add key="connectionString" value="Data Source=.;User ID=sa;Password=123456;Initial Catalog=winclient;" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.2.0" newVersion="4.6.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.30.0" newVersion="8.0.30.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <loadFromRemoteSources enabled="true" />
  </runtime>
  <connectionStrings>
    <!--服务端数据库-->
    <!--<add name="Default" connectionString="server=127.0.0.1; port=3306; User Id=root; password=123456; database=win-client3;" providerName="System.Data.MySqlClient" />-->
	<add name="Default" connectionString="Data Source=DESKTOP-71I0RDA;User ID=sa;Password=123456;Initial Catalog=winclient;Max Pool Size=512; Min Pool Size=5" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
